/* START MY FRAME WORK */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-transform: capitalize;
    color: #383F4C;
}

a {
    color: #383F4C;
}

button:hover,
button:active,
button:focus {
    outline: none;
}

.button {
    background: transparent;
    border-radius: 5px;
    padding: 4px 10px;
    outline: none;
    border: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.form-control:focus,
.form-control:active {
    outline: 0;
    box-shadow: none;
    border-color:#383F4C;
}

.panel {
    border: 1px solid #98a6ad75;
    background: #98a6ad0a;
    padding: 15px 14px 10px;
    border-radius: 5px;
    margin: 20px 0;
}

.main-title {
    color: gray;
    border-bottom: 1px solid #98a6ad75;
    padding-bottom: 15px;
    font-size: 23px;
}

.line {
    width: 100%;
    display: block;
    background: #98a6ad75;
    height: 1px;
    margin-bottom: 25px;
}

.alert-yellow {
    background: #FACB33;
    display: inline-block;
    line-height: 36px;
    font-size: 13px;
    padding: 0 12px;
    border-radius: 5px;
    height: 36px;
}

/* END MY FRAME WORK */

/* CUSTOM CHECKBOX */
label {
    display: inline-block;
    margin: 0 0 0 5px;
}

label.small {
    font-size: 12px;
    margin-top: 3px;
}

label.login {
    margin-top: 5px;
}

label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #383F4C;
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    border-radius: 5px;
    cursor: pointer;
}

label::after {
    content: "";
    width: 12px;
    height: 6px;
    border: none;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 12px;
}

.box {
    opacity: 0;
}

.box:checked + label:before {
    background: #383F4C !important;
}

.box:checked + label::after {
    border-color: white;
}

/* CUSTOM CHECKBOX */

/* ADD MAIN FONTS */
@font-face {
    font-family: OpenSans;
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(font/OpenSans-Bold.ttf);
}

/* Apply Main Font To Elements */
body,
h1,
h2,
h3,
h4,
p,
a,
button,
span,
div,
section {
    font-family: "OpenSans" !important;
}

/* START NAVIGATION OF SMALL SCREEN */
.nav-small {
    background: #383F4C;
    line-height: 78px;
    display: none;
}

.nav-small i.fa-bars {
    color: white;
    padding: 5px 10px;
    border: 1px solid #98a6ad75;
    border-radius: 5px;
    transition: all .4s ease;
    cursor: pointer;
}

.nav-small i.fa-bars:hover {
    background: #FACB33;
    border-color: #FACB33;
}

.nav-small .drop-small {
    background: #383F4C;
    display: none;
    border-top: 1px solid #98a6ad75;
    padding-left: 50px;
    height: 319px;
}

.nav-small .drop-small ul li {
    line-height: 0;
    padding: 15px 0;
}

.nav-small .drop-small ul li a {
    line-height: 0;
    text-decoration: none;
    color: white;
    transition: all .2s ease;
}

.nav-small .drop-small ul li a i {
    margin-right: 4px;
}

.nav-small .drop-small ul li a i.fa-car {
    font-size: 15.87px;
}

.nav-small .drop-small ul li a i.fa-tv {
    font-size: 13.5px;
}

.nav-small .drop-small ul li a:hover {
    color: #FACB33;
}

/* END NAVIGATION OF SMALL SCREEN */

/* START NAVIGATION BAR */
.navbar {
    background-color: #383F4C;
    padding: 0rem 4rem;
    display: none;
}

.navbar .navbar-brand {
    margin-right: 2rem;
}

.navbar .navbar-brand img {
    width: 130px;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    content: " ";
    width: 1px;
    height: 40px;
    background: #98a6ad75;
    display: inline-block;
    position: absolute;
    top: 0;
}

.navbar .navbar-nav.one .nav-item:first-of-type::after {
    display: none;
}

.navbar .navbar-nav .nav-item.dropdown img {
    border-radius: 4px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 14px;
    padding-right: .9rem !important;
    padding-left: .9rem !important;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navbar .navbar-nav .nav-item .nav-link i {
    margin-right: 4px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa-car {
    font-size: 15.87px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa-tv {
    font-size: 13.5px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa-home {
    font-size: 15.4px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa-bell {
    color: #FACB33;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:active {
    color: #FACB33;
}

.navbar .nav-item.dropdown .nav-link:hover,
.navbar .nav-item.dropdown .nav-link:focus,
.navbar .nav-item.dropdown .nav-link:active {
    color: white
}

.navbar .dropdown-menu {
    top: 58px;
    background: #ececec;
    border-radius: 0;
    width: 320px;
    left: -40px;
    border: none;
}

.navbar .dropdown-menu::after {
    position: absolute;
    top: -10px;
    left: 57px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ececec;
    border-left: 10px solid transparent;
    content: '';
}

.navbar .dropdown-menu .dropdown-item {
    color: #383F4C;
    font-size: 12px;
    padding: .45rem 1.5rem;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.navbar .nav-item.dropdown .nav-link span.alerts {
    position: absolute;
    top: 16px;
    right: 8px;
    background: #FF4A4A;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px 4px;
}

.navbar .dropdown-menu .dropdown-divider {
    margin: 0 1.5rem;
    border-color: #afa7a7;
}

.navbar .dropdown-menu .dropdown-item small {
    margin-left: 10px;
    float: right;
    font-size: 11px;
    color: #afa7a7;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
    color: white;
    background-color: #383F4C;
}

.navbar .dropdown-item:focus small,
.navbar .dropdown-item:hover small {
    color: #FACB33;
}

.navbar .dropdown-menu.country {
    left: 0;
    max-width: 10rem !important;
}

.navbar .dropdown-menu.country::after {
    display: none;
}

.navbar .form-inline .form-control {
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 30px;
    width: 320px;
    outline: none;
    font-size: 16px;
    border: none;
    height: 40.38px;
}

.navbar .form-inline .form-control::-webkit-input-placeholder {
    padding-left: 10px;
    color: #383F4C;
    font-size: 15px;
}

.navbar .form-inline .btn-outline-success,
.navbar button {
    background: transparent;
    color: #383F4C;
    border: none;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: .575rem 2.6rem;
    font-size: 15px;
    box-shadow: 0 0 0 2em #FACB33 inset;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin: 0;

}

.navbar button a {
    text-decoration: none;
    color: #383F4C;
}

.navbar .form-inline .btn-outline-success:hover,
.navbar button:hover {
    box-shadow: 0 0 0 1px #ffffff inset;
    color: white;
}

.navbar button:hover a {
    color: white;
}

.navbar .form-inline span {
    background: white;
    font-size: 14px;
    padding: .570rem .95rem;
    margin-right: .5rem;
}

.navbar button {
    box-shadow: 0 0 0 2em #ffffff inset;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: .9rem;
}

/* END NAVIGATION BAR */


/* START MODAL LOGIN */

.modal-content {
    padding: 0.8rem 4rem;
    background: #f3f3f3;
}

.modal-content .panel-modal {
    padding: 0;
    border-radius: 20px;
    border: 1px solid #98a6ad75;
    overflow: hidden;
    margin-top: 50px;
    height: 417px;
}

.modal-content .nav-tabs {
    border-bottom: none;
}

.modal-content .nav-item.col-sm-6 {
    padding: 0;
}

.modal-content .nav-tabs .nav-link {
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.8rem 0;
    background: #e6e6e6;
}

.modal-content .nav-tabs .nav-link:hover {
    color: #383F4C;
}

.modal-content .nav-tabs .nav-item.show .nav-link,
.modal-content .nav-tabs .nav-link.active {
    background: #f3f3f3;
}

.modal-content .tab-content > .tab-pane {
    padding: 60px 30px 0 30px;
}

.modal-content .form-control {
    border-radius: 25px;
    border: 1px solid #98a6ad75;
    font-size: 15px;
}

.modal-content .form-control::-webkit-input-placeholder {
    color: #383F4C;
    font-size: 15px;
}

.modal-content .form-check-label {
    font-size: 15px;
    text-transform: none;
}

.modal-content .btn-primary {
    display: block;
    background: transparent;
    width: 100%;
    border-radius: 25px;
    padding: .375rem .75rem;
    border: none;
    box-shadow: 0 0 0 2em #FACB33 inset;
    color: #383F4C;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 16px;
}

.modal-content .btn-primary:hover {
    background: transparent;
    box-shadow: 0 0 0 0px #FACB33 inset;
    color: white;
    background: #383F4C;
}

.modal-content .password {
    padding: 20px 0;
    color: #383F4C;
    font-size: 14px;
    text-transform: none;
}

.modal-content .password a {
    color: #1e75d0;
    text-decoration: none;
}

.modal-content .password p {
    margin: 0;
    margin-top: 5px;
    display: inline-block;
}

.modal-content .btn-primary.register {
    box-shadow: 0 0 0 2em #383F4C inset;
    color: white;
}

.modal-content .btn-primary.register:hover {
    background: transparent;
    box-shadow: 0 0 0 0px inset;
    color: #383F4C;
    background: #FACB33;
}

.modal-content .about-us {
    font-size: 14px;
    margin-top: 20px;
}

.modal-content .about-us a {
    text-decoration: none;
}

.modal-content .about-us a i {
    color: #21BC6A;
}

.modal-content .about-us p {
    margin: 0;
    margin-top: 10px;
}

.modal-content .about-us a.privacy {
    color: #1e75d0;
    text-transform: none;
}

.modal-content .about-us a.privacy span {
    color: #383F4C;
}

.modal-content .image-modal {
    display: none;
}

.modal-content .image-modal img {
    position: absolute;
    bottom: -14px;
}

/* END MODAL LOGIN */

/* =========== STRAT CONTENT PAGE =========== */

.content-page {
    padding: 5rem 0 20rem;
}

/* START SLIDER SECTION */
.slider {}

.slider .owl-carousel {
    width: 100%;
}

.slider .owl-carousel .item {
    position: relative;

}

.slider .owl-carousel .item img {
    display: block;
    height: 100%;
}

.slider .owl-carousel .owl-dots.disabled,
.slider .owl-carousel .owl-nav.disabled {
    display: block;
}

.slider .owl-carousel .owl-nav button.owl-prev,
.slider .owl-carousel .owl-nav button.owl-next,
.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-prev,
.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-next {
    background: white;
    color: #383F4C;
    line-height: 0px;
    font-size: 45px;
    position: absolute;
    top: 40%;
    padding: 0px 17px 8px 17px !important;
    font-size: 40px;
    line-height: 43px;
    font-weight: bold;
}

.slider .owl-carousel .owl-nav button.owl-prev,
.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-prev {
    left: 20px;
}

.slider .owl-carousel .owl-nav button.owl-next,
.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-next {
    right: 20px;
}

.slider .owl-carousel .owl-dots {
    text-align: center;
    padding: 30px 0;
}

.slider .owl-carousel button.owl-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #98a6ad75;
    border-radius: 50%;
    margin-right: 20px;
}

.slider .owl-carousel button.owl-dot:last-of-type {
    margin-right: 0;
}

.slider .owl-carousel button.owl-dot.active {
    background: #FACB33;
}

/* END SLIDER SECTION */

/* START FEATURED-ADS SECTION */
.featured-ads .panel {
    padding: 0;
}

.featured-ads .panel .item {
    position: relative;
    overflow: hidden;

}

.featured-ads .panel .item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .54 ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.featured-ads .panel .item .disc {
    background: #FACB33;
    padding: 5px;
    position: absolute;
    top: 15px
}

.featured-ads .panel .item:hover img {
    transform: scale(1.3);
}

.featured-ads .panel .item .disc > span {
    margin-left: 5px;
}

.featured-ads .panel .info {
    padding: 15px 14px;
}

.featured-ads .panel .info h5 {
    margin-bottom: 2px;
}

.featured-ads .panel .info span {
    color: #b5b5b5;
    font-size: 15px;
}

.featured-ads .panel .end-info {
    margin-bottom: 15px;
    padding: 0 14px;
}

.featured-ads .panel .end-info a i {
    color: #FACB33;
}

.featured-ads .panel .end-info .button {
    box-shadow: 0 0 0 2em #FACB33 inset;
    margin-top: -6px;
}

.featured-ads .panel .end-info .button i {
    color: white;
}

.featured-ads .panel .end-info .button:hover {

    box-shadow: 0 0 0 1px #383F4C inset;
    text-decoration: none;
    color: #383F4C;
}

.featured-ads .panel .end-info .button:hover i {
    color: #383F4C;
}


/* END FEATURED-ADS SECTION */

/* START BROWSE CATEGORIES SECTION */
.browse-Categories .icon span {
    font-size: 19px;
    margin-left: 15px;
}

.browse-Categories .links ul li {
    margin: 20px 0;
}

.browse-Categories .links ul li a {
    text-decoration: underline;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.browse-Categories .links ul li span {
    background: #e6e6e6;
    border-radius: 5px;
    font-size: 13px;
    width: 33px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.browse-Categories .links ul li a:hover {
    color: #FACB33;
}

.browse-Categories .links ul li:last-of-type {
    margin-bottom: 0;
}

/* End BROWSE CATEGORIES SECTION */

/* START PROFILE PAGE */
.profile h3 {
    margin-bottom: 30px;
}

.profile .panel-profile {
    border-radius: 10px;
    border: 1px solid #98a6ad75;
    padding: 60px 0;
    overflow: hidden;
    min-height: 605px;
    margin-bottom: 30px;
}

.profile .panel-profile .person-icon {
    background: #cccccc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
    border: 3px solid #f1f1f1;
    color: #888888;
    margin: 0 20px 0 30px;
}

.profile .panel-profile .person-name h5 {
    margin: 0;
    font-size: 17px;
    font-family: 'OpenSans-Bold' !important;
    color: #3790ec;
}

.profile .panel-profile .person-name > span {
    font-size: 15px;
    display: inline-block;
    padding: 3px 0;
}

.profile .panel-profile .person-name .level p {
    margin: 0;
    background: #f1f1f1;
    padding: 2px 7px;
    border-radius: 5px;
    border: 1px solid #98a6ad75;
    font-size: 13px;
}

.profile .panel-profile .person-name .level .alert-num {
    background: #FACB33;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    margin-left: 7px;
}

.profile .panel-profile .person-name .level .alert-num:nth-of-type(2) {
    background: #21BC6A;
}

.profile .panel-profile .account {
    border-top: 1px solid #98a6ad75;
    border-bottom: 1px solid #98a6ad75;
    padding: 10px 0;
}

.profile .panel-profile .account .data {
    display: inline-block;
    font-size: 14px;
    padding: 0 7px;
    position: relative;
}

.profile .panel-profile .account .data h6 {
    font-size: 13px;
}

.profile .panel-profile .account .data::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: #98a6ad75;
}

.profile .panel-profile .account .data:last-of-type {
    padding-right: 0;
}

.profile .panel-profile .account .data:last-of-type::before {
    display: none;
}

.profile .panel-profile .nav-tabs {
    padding-top: 8px;
    background: #383F4C;
    transition: all .5s ease;
}

.profile .panel-profile .nav-link {
    padding: .5rem 3rem;
    margin-left: 2px;
    color: #888888;
    font-size: 17px;
}

.profile .panel-profile .nav-link i {
    margin-right: 5px;
    font-size: 17px;
}

.profile .panel-profile .nav-link:hover {
    background: white;
    border: none;
    font-size: 17px;
}

.profile .tab-content > .tab-pane {
    padding: 70px .5rem 50px .5rem;
}

.profile .tab-content > .tab-pane .classic {
    border: 1px solid #98a6ad75;
    background: #f1f1f1;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.profile .tab-content > .tab-pane .classic .image {
    position: relative;
    margin-right: 10px;
}

.profile .tab-content > .tab-pane .classic .image span {
    position: absolute;
    top: 0;
    font-size: 13px;
    left: 0;
    background: #21BC6A;
    color: white;
    padding: 2px 5px;
}

.profile .tab-content > .tab-pane .classic .text-image {
    position: relative;
    padding-right: 7px;
}

.profile .tab-content > .tab-pane .classic .text-image h6 {
    font-size: 17px;
    margin-bottom: 3px;
    text-transform: none;
    color: #3790ec;
}

.profile .tab-content > .tab-pane .classic .text-image a {
    font-size: 11px;
    text-transform: none;
    text-decoration: none;
}

.profile .tab-content > .tab-pane .classic .text-image a i,
.profile .tab-content > .tab-pane .classic .view i {
    margin-right: 3px;
}

.profile .tab-content > .tab-pane .classic .view {
    padding: 4px 8px;
    font-size: 13px;
    position: relative;

}

.profile .tab-content > .tab-pane .classic .view h6 {
    font-size: 13px;
}

.profile .tab-content > .tab-pane .classic .view i.fa-eye {
    color: #3790ec;
}

.profile .tab-content > .tab-pane .classic .view i.fa-comments {
    color: #21BC6A;
}

.profile .tab-content > .tab-pane .classic .view i.fa-star {
    color: #FACB33;
}

.profile .tab-content > .tab-pane .classic .view::before,
.profile .tab-content > .tab-pane .classic .text-image::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: #98a6ad75;
}

.profile .tab-content > .tab-pane .classic .view2::before {
    display: none !important;
}

.profile .tab-content > .tab-pane .classic .view2 a {
    color: #3790ec;
}

.profile .tab-content > .tab-pane .classic2 .view::before,
.profile .tab-content > .tab-pane .classic2 .text-image::before {
    display: none;
}

.profile .tab-content > .tab-pane .classic2 span.red {
    color: #FF4A4A;
    font-size: 19px;
    margin-left: 10px;
}

.profile .tab-content > .tab-pane .classic2 span.alert-yellow {
    height: 31px;
    line-height: 31px;
}

.profile .tab-content > .tab-pane .classic2 {
    background: white;
    border: none;
    border-top: 1px solid #98a6ad75;
}

.profile .tab-content > .tab-pane .classic2:first-of-type {
    border: none;
}

.profile .tab-content > .tab-pane .classic2 .view {
    left: 14px;
    top: 13px;
}

.profile .tab-content > .tab-pane .button {
    background: #FF4A4A;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: background .4s ease;
}

.profile .tab-content > .tab-pane .button:hover {
    background: #ff4a4abf;
}

.profile .tab-content > .tab-pane ul {
    margin: 0;
}

.profile .tab-content > .tab-pane .classic2:last-of-type {
    margin: 0;
}

.profile .tab-content > .tab-pane li.page {
    background-color: #eaeaea;
    display: inline-block;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 10px;
    margin-top: 20px;
    transition: all .4s ease;
    cursor: pointer;
}

.profile .tab-content > .tab-pane li.page:hover,
.profile .tab-content > .tab-pane li.page.active {
    background: #383F4C;
    color: white;
}

/* END PROFILE PAGE */

/* ************* START CATEGORY PAGE ************* */

.main-title2 {
    font-size: 20px;
    margin-bottom: 5rem;
}

.main-title2 small a {
    text-decoration: none;
}

.main-title2 small i {
    font-size: 14px;
    padding: 0 4px;
}

.main-title2 a:hover {
    color: #383F4C;
}

.catogery .custom {
    background: #383F4C;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}
}

.catogery .form-control {
    height: 34px !important;
}

.catogery .form-control::-webkit-input-placeholder {
    color: #ccc;
    font-size: 15px;
}

.catogery .form-control.search::-webkit-input-placeholder {
    color: #383F4C;

}

.catogery .form-control.search {
    position: relative;
}

.catogery i.search-icon2 {
    position: absolute;
    right: 5px;
    height: 30px;
    background: white;
    line-height: 30px;
    top: 4px;
    padding: 0 10px;
    z-index: 2;
}

.catogery i.search-icon2 {
    position: absolute;
    right: 35px;
    top: 84px;
}

.catogery .brand {
    border-bottom: 1px solid #98a6ad75;
    padding-top: 30px;
}

.catogery .brand input[type="search"] {
    margin: 10px 0;
}

.catogery .brand ul li {
    padding: 5px 0;
    font-size: 15px;
    position: relative;
}

.catogery .brand ul li:last-of-type {
    padding-bottom: 0;
}

.catogery .brand ul li input {
    margin-right: 10px;
}

.catogery .brand:last-of-type {
    border: none;
}

.catogery .brand:last-of-type ul li {
    font-size: 13px;
}

.catogery .item {
    margin-bottom: 20px;
}

.catogery .save-search > h6 {
    font-weight: 900;
    font-size: 17px;
}

.catogery .save-search .panel {
    margin-bottom: 50px;
}

.catogery .save-search select {
    font-size: 15px;
}

.catogery .save-search a {
    font: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
}

.catogery .save-search a i {
    margin-right: 15px;
}

.catogery .save-search a:hover {
    color: #383F4C;
}

.catogery .photo img {
    border-radius: 5px;
    margin: 20px 0;
}

.catogery .about-photo h6 {
    margin-bottom: 2px;
    font-size: 18px;
}

.catogery .about-photo span.alert-yellow {
    margin-right: 10px;
    font-weight: 800;
}

.catogery .about-photo span.red {
    color: #FF4A4A;
    font-size: 19px;
}

.catogery .about-photo span.line {
    width: 100%;
    display: block;
    background: #98a6ad75;
    height: 1px;
}

.catogery .about-photo p {
    margin: 0;
    font-size: 14px;
}

.catogery .about-photo p i {
    margin: 0 4px;
}

.catogery .about-photo small {
    margin-right: 10px;
}

.catogery .about-photo small i {
    padding: 0 2px;
}

.catogery .about-photo span.star {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.catogery .about-photo span.star i {
    color: #FACB33;
    margin-left: 3px;

}

.catogery .about-photo .button2 {
    background: #383F4C;
    color: white;
    padding: 9px 16px;
    font-size: 11px;
    border-radius: 5px;
    margin-left: 10px;
}

.catogery .about-photo .button2:hover {
    color: white !important;
}

.catogery .about-photo .button2 i {
    margin-right: 4px !important;
}

.catogery .about-photo .grey {
    margin-top: 15px;
}

.catogery .about-photo .grey .button2 {
    background-color: #eaeaea;
    font-size: 14px;
    padding: 5px 12px;
}

.catogery .about-photo .grey .button2:first-of-type {
    margin: 0;
}

.catogery .about-photo .grey .button2 i.fa-heart {
    color: #FF4A4A;
}

.catogery .about-photo .grey .button2 i.fa-flag {
    color: #383F4C;
}

.catogery .paginaion li.page {
    background-color: #eaeaea;
    display: inline-block;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 10px;
    margin-top: 40px;
    transition: all .4s ease;
    cursor: pointer;
}

.catogery .paginaion li.page:hover,
.catogery .paginaion li.page.active {
    background: #383F4C;
    color: white;
}

/* ************* END CATEGORY PAGE ************* */


/* ************* START NEW AD PAGE ************* */
.small-title {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 15px;
}

.post-new .new {
    border: 1px solid #98a6ad75;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post-new .new .person {
    border-bottom: 1px solid #98a6ad75;
    padding: 20px 0 20px 30px;
}

.post-new .new .person .data-person {
    margin: 16px 0 14px 13px;
}

.post-new .new .person .data-person h6 {
    font-weight: 600;
    margin: 0;
}

.post-new .new .person .data-person span {
    font-size: 14px;
}

.post-new .new ul li {
    margin: 0 30px;
    padding: 10px 0;
    border-bottom: 1px solid #98a6ad75;
    font-size: 14px;
}

.post-new .new ul li:last-of-type {
    border: none;
}

.post-new .new ul li a {
    font-size: 14px;
    transition: all .4s ease;
}

.post-new .new ul li a i {
    margin-right: 10px;
}

.post-new .new ul li a:hover {
    text-decoration: none;
    color: #FACB33;
}

.add-ad .panel {
    transition: all .4s ease;
    cursor: pointer;
}

.yellow-panel {
    background: #FACB33;
}

.add-ad .panel h6 {
    font-size: 15px;
    font-weight: 600;
    margin: 7px 0;
}

.add-ad .panel:hover {
    background: #FACB33;
}

.details ul {
    margin-top: 10px;
}

.details ul li {
    margin: 5px 0;
}

.details ul li a {
    font-size: 16px;
    color: #1e75d0;
    text-decoration: none;
}

.details form {
    margin-top: 20px;
}

.details form .col-form-label span.red {
    color: #FF4A4A !important;
}

.details form .form-group {
    margin-bottom: 30px;
}

.details form .form-control {
    border-radius: 5px;
    font-size: 14px;
}

.details form .form-control.control2 {
    border-left: 0;
}

.details form .form-control::-webkit-input-placeholder {
    padding-left: 4px;
    font-size: 14px;
}

.details form textarea {
    resize: none;
    height: 150px;
}

.details form .input-group-text {
    background: #1e75d0;
    color: white;
    font-size: 12px;
    border: none;
}

.details form .input-group-text i {
    font-size: 14px;
}

.details form .map {
    border-radius: 5px;
    overflow: hidden;
}

.details form .map iframe {
    height: 270px;
    width: 100%;
}

.details form i.fa-cloud-upload-alt {
    color: #FF4A4A;
    font-size: 40px;
}

.details .panel .item-upload {
    border: 1px solid #98a6ad75;
    border-radius: 5px;
    padding: 45px 0;
    background: #b7adad36;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.details .panel {
    padding: 10px;
}

.details .panel .col-sm-6 {
    padding: 0 5px;
}

.details .panel .item-upload i {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.details .panel input[type="file"] {
    opacity: 0;
    right: 57px;
    position: relative;
}

.details form .button {
    color: white;
    background: #21BC6A;
    transition: background .4s ease;
}

.details form .button i {
    margin-right: 7px;
}

.details form .button:hover {
    background: #21bc6aab;
}

.details p {
    margin: 0;
    font-size: 80%;
    text-transform: none;
}

.details p a {
    color: #1e75d0;
    text-transform: capitalize;
    text-decoration: underline;
}

/* ************* END NEW AD PAGE ************* */

/* ************* START ACCOUNT PAGE ************* */

.account .slider-section .slider-title {
    font-weight: 800;
}

.account .slider-section .slider2 {
    margin: 30px 0;
}

.account .slider-section .slider2 .owl-carousel .item {
    position: relative;
    width: 100%;
}

.account .slider-section .slider2 .owl-carousel .owl-nav.disabled {
    display: block;
}

.account .slider-section .slider2 .owl-carousel .owl-dots {
    display: none;
}

.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-prev,
.account .slider-section .slider2 .owl-carousel .owl-nav button.owl-next {
    top: 47%;
}

.account .slider-section .slider-title h6 {
    font-weight: 800;
}

.account .slider-section ul li {
    font-size: 15px;
    padding: 5px 16px;
}

.account .slider-section ul li span.red {
    color: #FF4A4A;
}

.account .slider-section .border h6,
.account .slider-section .like-box h6,
.account .slider-section .comment h6 {
    font-weight: 800;
    margin-bottom: 20px;
}

.account .slider-section .border a i {
    background: #25d366;
    color: white;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .4s ease;
}

.account .slider-section .border a i:hover {
    transform: scale(1.1);
}

.account .slider-section .border a i.fa-twitter {
    background: #1da1f2;
}

.account .slider-section .border a i.fa-facebook-f {
    background: #3b5998;
}

.account .slider-section .like-box .item .image {
    position: relative;
    overflow: hidden;
}

.account .slider-section .like-box .item .image img {
    transition: all .4s ease;
    width: 100%;
}

.account .slider-section .like-box .item span.offer {
    background: #FF4A4A;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 15px;
}

.account .slider-section .like-box .item .image:hover img {
    transform: scale(1.2);
}

.account .slider-section .like-box .item h6 {
    font-weight: normal;
    font-size: 16px;
    margin: 20px 0;
}

.account .slider-section .comment textarea.form-control {
    resize: none;
    min-height: 180px;
    padding-top: 20px;
}

.account .slider-section .comment textarea.form-control::-webkit-input-placeholder {
    padding-left: 10px;
    color: grey;
    font-size: 16px;
}

.account .slider-section .comment .button {
    color: white;
    background: #3790ec;
    transition: background .4s ease;
}

.account .slider-section .comment .button:hover {
    background: #3790eca6;
}

.account .slider-section .comment .reply-area h6 {
    margin-bottom: 0;
    position: relative;
}

.account .slider-section .comment .reply-area h6 a {
    font-weight: normal;
    color: #3790ec;
    position: absolute;
    left: 140px;
    text-decoration: none;
}

.account .slider-section .comment .reply-area h6 a i {
    margin-right: 2px;
}

.account .slider-section .comment .reply-area p {
    font-size: 18px;
}

.account .slider-section .comment .reply-area .panel.panel-reply {
    background: #cccccce6;
}

.account .border {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #98a6ad75;
    margin-bottom: 15px;
    position: relative;
}

.account .border .red {
    color: #FF4A4A;
    font-size: 17px;
    text-decoration: none;
}

.account .border:nth-of-type(2) .red {
    font-size: 15px;
    padding: 0 10px;
    position: relative;
}

.account .border:nth-of-type(2) .red::before {
    content: " ";
    width: 1px;
    height: 40px;
    background: #98a6ad75;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: -2px;
}

.account .border:nth-of-type(2) .red:first-of-type {
    padding-left: 0;
}

.account .border:nth-of-type(2) .red:first-of-type::before {
    display: none;
}

.account .border:nth-of-type(2) .red i {
    margin-right: 6px;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.account .border:nth-of-type(2) .red i.fa-frown {
    color: #383F4C;
}

.account .border .person .data-person {
    margin: 13px 0 14px 13px;
}

.account .border .person .data-person h6 {
    font-weight: 600;
    margin: 0;
}

.account .border .person .data-person span {
    font-size: 14px;
}

.account .border:nth-of-type(4),
.account .border:nth-of-type(5) {
    padding: 13px 25px;
}

.account .border span.phone {
    font-size: 16px;
    margin-left: 50px;
    font-weight: 600;
}

.account .border i.fa-mobile-alt,
.account .border i.tow {
    background: #FACB33;
    color: #383F4C;
    line-height: 52px;
    top: 0;
    position: absolute;
    width: 50px;
    text-align: center;
    left: 0;
    z-index: 2;
    font-size: 20px;
    height: 100%;
}
.account .border i.fa-mobile-alt {
    font-size: 18px;
}
.account .map {
    border-radius: 5px;
    overflow: hidden;
}

.account .map iframe {
    height: 230px;
    width: 100%;
}

/* ************* END ACCOUNT PAGE ************* */

/* =========== END CONTENT PAGE =========== */

/* START SWEET ALERT DESIGN */
.green-bg {
    background: #21BC6A !important;
    color: #fff !important;
}

.swal-title {
    color: #fff !important;
    font-size: 20px;
    font-weight: normal !important;
    text-transform: capitalize !important;
    padding: 0px 16px !important;
}

.swal-icon--success:after,
.swal-icon--success:before,
.swal-icon--success__hide-corners {
    background: #21BC6A !important;
}

.swal-icon--success__line,
.swal-icon--success__line--long {
    background-color: #fff !important;
}

.swal-icon--success__ring {
    border-color: #fff !important;
}

.swal-footer {
    text-align: center;
}

.swal-button {
    padding: 6px 25px !important;
    color: #383F4C !important;
    background-color: #fff !important;
    font-weight: normal !important;
}

.swal-button:focus {
    box-shadow: none !important;
}

/* END SWEET ALERT DESIGN */


/* START DOWN BUTTON SECTION */

.down-button {
    padding-bottom: 70px;
}

.down-button .button-down {
    border: 1px solid #98a6ad75;
    display: inline-block;
    border-radius: 25px;
    padding: 0 10px;
    width: 227px;
    transition: border .6s ease-in-out;
    margin-right: 50px;
    margin-bottom: 20px;
}

.down-button .button-down img {
    position: relative;
    top: 12px;
    margin: 0 15px;
}

.down-button .button-down .text::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 40px;
    left: 0;
    position: absolute;
    background: #98a6ad75;
}

.down-button .button-down .text {
    padding: 8px 18px;
    font-size: 14px;
    position: relative;
}

.down-button .button-down .text h6 {
    margin: 0;
}

.down-button .button-down:hover {
    border-color: #383F4C;
    color: #383F4C;
}

/* END DOWN BUTTON SECTION */


/* STRAT FOOTER AREA DESIGN */

.footer {
    background: #f1f1f1;
    border-top: 2px solid #98a6ad75;
    position: relative;
    width: 100%;
}

.footer .image-phone {
    position: absolute;
    top: -365px;
    right: -65px;
    z-index: 2;
    transition: all .5s ease-in-out;
}

.footer .image-phone img {
    width: 200px;
}

.footer .image-phone:hover {
    transform: rotate(6deg);
    transition: all .5s ease-in-out;
}

.footer .end-foot {
    padding-top: 60px;
}

.footer .end-foot p {
    font-size: 15px;
    line-height: 1.7;
    text-transform: none;
}

.footer .end-foot h6 {
    margin-bottom: 20px;
}

.footer .end-foot ul {
    display: inline-block;
    margin-right: 40px;
}

.footer .end-foot ul:last-of-type {
    margin-right: 0;
}

.footer .end-foot ul li {
    margin: 5px 0;
}

.footer .end-foot ul li a {
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}

.footer .end-foot ul li a:hover {
    color: #FACB33;
    text-decoration: none;

}

.footer .end-foot .links-social a {
    margin-right: 10px;
}

.footer .end-foot .links-social a img {
    width: 35px;
    background: white;
    padding: 4px;
    border: 1px solid #98a6ad75;
    border-radius: 4px;
    margin-top: 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.footer .end-foot .links-social a img:hover {
    transform: scale(1.2);
}

.footer .end-foot .download {
    border-radius: 25px;
    border: 1px solid red;
    background: white;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 20px;
}

/* END FOOTER AREA DESIGN */

/* START GO TOP BUTTON */
.go-top {
    background: #383F4C;
    color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    position: fixed;
    cursor: pointer;
    right: 75px;
    bottom: 30px;
    z-index: 9999;
    border-radius: 5px;
    display: none;
    transition: all .4s ease-in-out;
}

.go-top:hover {
    bottom: 40px;
}

/* END GO TOP BUTTON */