/* START EXTRA SMALL DEVICES STYLE  */

@media (max-width: 768px) {
    .nav-small {
        display: block;
    }

    .slider {
        display: none;
    }

    .content-page {
        padding: 5rem 0;
    }

    .footer .end-foot {
        padding-top: 10px;
        text-align: left !important;
    }

    .footer .end-foot p {
        font-size: 13px;
        line-height: 1.8;
    }

    a {
        font-size: 14px !important;
    }

    .modal-content {
        padding: 0;
        padding-bottom: 10px;
    }

    .profile .tab-content > .tab-pane .classic .text-image h6 {
        font-size: 16px;
    }

    .profile .tab-content > .tab-pane .classic .text-image a {
        font-size: 11px !important;
    }

    .down-button {
        text-align: center;
    }

    .footer .image-phone {
        display: none;
    }

    .profile .tab-content > .tab-pane .classic .text-image::before,
    .profile .tab-content > .tab-pane .classic .view2,
    .profile .tab-content > .tab-pane .classic .view:nth-of-type(5)::before {
        display: none;
    }

    .profile .tab-content > .tab-pane .classic .view {
        margin-top: 20px;
    }

    .profile .tab-content > .tab-pane .classic .view {
        display: none;
    }

    .profile .tab-content > .tab-pane .classic .text-image {
        margin-top: 15px;
    }

    .main-title2 small {
        font-size: 14px;
    }

    .catogery .float-right {
        float: left !important;
    }

    .catogery .one.float-right {
        float: right !important;
    }

    .catogery .grey {
        text-align: left !important;
    }

    .catogery .about-photo .button2 {
        margin-top: 0;
    }

    .catogery .about-photo .button2:first-of-type {
        margin-left: 0;
    }

    .catogery .paginaion button.page {
        margin-top: 25px;
    }

    .down-button .button-down {
        margin-right: 5px;
        font-size: 14px !important;
    }

    .sort {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .save {
        display: none;
    }

    .catogery .form-control::-webkit-input-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    .catogery .custom {
        font-size: 15px;
    }

    .go-top {
        right: 30px;
    }

    .nav-small .drop-small {
        padding-left: 20px;
    }

    .browse-Categories .icon span {
        font-size: 18px;
    }

    .details .panel .item-upload {
        margin: 5px 0 !important;
    }

    .alert-off {
        display: none;
    }

    .account .slider-section .slider2,
    .account .slider-section .alert-yellow {
        display: none;
    }


}

/* END EXTRA SMALL DEVICES STYLE  */

/* START MEDIUM DEVICES STYLE  */

@media (min-width: 768px) and (max-width: 992px) {
    .nav-small {
        display: block;
    }

    .content-page {
        padding: 5rem 0;
    }

    .slider {
        display: none;
    }

    .down-button {
        text-align: center;
    }

    .footer .end-foot {
        text-align: left !important;
        padding-top: 30px;
    }

    .footer .image-phone {
        display: none;
    }

    .profile .tab-content > .tab-pane .classic .text-image h6 {
        font-size: 16px;
    }

    .profile .tab-content > .tab-pane .classic .view h6 {
        font-size: 11px;
    }

    .profile .tab-content > .tab-pane .classic .text-image a {
        font-size: 10px;
    }

    .catogery .float-right {
        float: left !important;
    }

    .catogery .float-right.one2 {
        float: right !important;
    }

    .catogery .grey {
        text-align: left !important;
    }

    .catogery .about-photo .button2 {
        margin-top: 0;
    }

    .catogery .about-photo .button2:first-of-type {
        margin-left: 0;
    }

    .sort {
        margin-bottom: 10px;
    }

    .save {
        margin-top: 10px;
        text-align: left !important;
    }

    .go-top {
        right: 25px;
    }

    .details .panel .item-upload {
        margin: 5px 0 !important;
    }

    .alert-off {
        display: none;
    }

    .short {
        height: 118.77px !important;
    }
}

/* END MEDIUM DEVICES STYLE  */

/* START LARGE DEVICES STYLE  */

@media (min-width: 992px) and (max-width: 1200px) {
    .nav-small {
        display: block;
    }

    .content-page {
        padding: 5rem 0;
    }

    .modal-content .image-modal {
        display: none !important;
    }

    .footer .end-foot {
        padding-top: 30px;
    }

    .footer .end-foot {
        text-align: left !important;
    }

    .footer .image-phone {
        display: none;
    }

    .sort {
        margin-bottom: 10px;
    }

    .save {
        margin-top: 10px;
        text-align: left !important;
    }

    .go-top {
        right: 30px;
    }

    .alert-off {
        display: none;
    }

    .short {
        height: 163.61px !important;
    }

}

/* END LARGE DEVICES STYLE  */

/* START X-LARGE DEVICES STYLE  */


@media (min-width: 1200px) and (max-width: 1400px) {

    .navbar .navbar-brand {
        margin: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 1.1rem !important;
        padding-left: 1.1rem !important;
    }

    .navbar .navbar-nav .nav-item:first-of-type::after {
        display: block;
    }

    .navbar .form-inline {
        margin: 0 !important;
    }

    .navbar .form-inline span,
    .navbar button.post {
        display: none;
    }

    .navbar .form-inline .form-control {
        padding-left: 10px;
        width: 389px;
        border-radius: 25px;
    }

    .navbar .form-inline .btn-outline-success,
    .navbar button {
        display: none;
    }

    .navbar .navbar-nav:nth-of-type(2) .nav-item:first-of-type::after,
    .footer .image-phone {
        display: none;
    }

    .slider .owl-carousel button.owl-dot {
        width: 17px;
        height: 17px;
    }

    .slider .owl-carousel .owl-nav button.owl-prev,
    .slider .owl-carousel .owl-nav button.owl-next {

        padding: 0px 17px 5px 17px !important;
        line-height: 40px;

    }

    .featured-ads .panel .info h5,
    .browse-Categories .icon span {
        font-size: 18px;
    }

    .featured-ads .panel .info span,
    .browse-Categories .links ul li a,
    .featured-ads .panel .end-info .button,
    .featured-ads .panel .item .disc,
    .footer .end-foot p {
        font-size: 14px;
    }

    .footer .end-foot ul li a,
    .footer .end-foot h6 {
        font-size: 15px;
    }
}


@media (min-width: 1200px) and (max-width: 1340px) {
    .navbar .form-inline {
        display: none;
    }

    .navbar .nav-item.search {
        display: block !important;
    }

    .navbar-nav.right {
        margin-left: auto;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding-right: .7rem !important;
        padding-left: .7rem !important;
    }
}


@media (min-width: 1340px) and (max-width: 1389px) {
    .navbar .form-inline span {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .form-inline {
        margin: 0 !important;
    }

    .navbar .form-inline .form-control {
        border-radius: 25px;
        display: none;
    }

    .navbar .nav-item.search {
        display: block !important;
    }

    .navbar-nav.right {
        margin-left: auto;
    }
}

@media (min-width: 1389px) and (max-width: 1858px) {
    .navbar .form-inline span {
        display: none;
    }

    .navbar button.post {
        display: none;
    }
}

@media (min-width: 1389px) and (max-width: 1577px) {

    .navbar .form-inline .btn-outline-success,
    .navbar button {
        display: none;
    }

    .navbar .form-inline .form-control {
        border-radius: 25px;
    }

    .form-inline {
        display: none;
    }

    .navbar button.post {
        display: none;
    }

    .navbar .nav-item.search {
        display: block !important;
    }

    .navbar-nav.right {
        margin-left: auto;
    }

    .navbar .navbar-nav.right .nav-item:first-of-type::after {
        display: none;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 1.1rem !important;
        padding-left: 1.1rem !important;
    }

}

@media (min-width: 1578px) and (max-width: 1587px) {
    .navbar .form-inline {
        margin: 0 !important;
    }
}

/* END X-LARGE DEVICES STYLE  */